<md-sidenav-container>

  <md-sidenav class="quickpanel" [opened]="quickpanelOpen" align="end" mode="over" #quickpanel>

    <ms-quickpanel></ms-quickpanel>

  </md-sidenav>

  <md-sidenav class="sidenav" [opened]="sidenavOpen" align="start" [mode]="sidenavMode" msIconSidenav   #sidenav>
      <ms-sidenav></ms-sidenav>
    
  </md-sidenav> 
  
    
  <md-toolbar class="main-toolbar mat-elevation-z2">
    <div fxHide="false" fxHide.gt-sm>
      <button (click)="sidenav.open()" md-icon-button>
        <md-icon>menu</md-icon>
      </button>
    </div>

    <ms-breadcrumbs fxHide="true" fxHide.gt-sm="false"></ms-breadcrumbs>

    <span fxFlex></span>

    <button fxHide="true" fxHide.gt-sm="false" md-button class="fullscreen-toggle" (click)="toggleFullscreen()">
      <md-icon *ngIf="!isFullscreen">fullscreen</md-icon>
      <md-icon *ngIf="isFullscreen">fullscreen_exit</md-icon>
    </button>

    <ms-search></ms-search>

    <button class="user-button" md-button [mdMenuTriggerFor]="menu">
      <div fxLayout="row" fxLayoutAlign="start center">
        <img src="assets/img/avatars/noavatar.png" class="avatar-flex"/>
        <span fxHide="true" fxHide.gt-sm="false" style="font-weight: 500; margin-left: 5px;">David Smith</span>
        <md-icon fxHide="true" fxHide.gt-sm="false">keyboard_arrow_down</md-icon>
      </div>
    </button>


    <button md-button class="quickpanel-toggle" (click)="quickpanel.open()">
      <md-icon>format_align_right</md-icon>
    </button>


    <md-menu class="user-menu" x-position="before" y-position="below" #menu="mdMenu">
      <button md-menu-item>
        <md-icon>account_circle</md-icon>
        <span>Profile</span>
      </button>
      <button md-menu-item>
        <md-icon>settings</md-icon>
        <span>Settings</span>
      </button>
      <button md-menu-item>
        <md-icon>help</md-icon>
        <span>Help</span>
      </button>
      <md-divider></md-divider>
      <button [routerLink]="['/login']" md-menu-item>
        <md-icon>exit_to_app</md-icon>
        <span>Logout</span>
      </button>
    </md-menu>
  </md-toolbar>

  <div class="main-container" #scrollContainer>
    <div #row class="row">
      <div #col4 class="col-md-4" style="height: 1000px;display: none;z-index: 6000;background-color: #272b35;">
        <div style="color:#a6a8ad;height: 100%;padding-bottom: 100%;margin-bottom: 100%">
          <div class="row" style="height: 100%; padding: 20px;">

            <div class="row">
              <div class="col-sm-6 col-xs-6">
                <h1 style="padding-left: 15px">{{item?.name}}</h1>
              </div>
              <div class="col-sm-6 col-xs-6">
                <span style="position: relative;top:100%;left: 60%;cursor: pointer;"> 
                  <md-icon (click)="closeSideNav()" class="icon-sidenav-toggle fade-in-on-icon-sidenav">chevron_left
                  </md-icon>
                </span>
              </div>  
            </div>

            <div #rowDiv class="row" style="margin-left: 30px">
              <!-- <div class="col-sm-6 col-xs-6">
                <div *ngFor="let item of subItems">
                  <span *ngIf="item.position%2 != 0">
                    <h4>{{item.name}}</h4>
                    <div *ngFor="let subitem of item.subItems">
                      <span><p>{{subitem.name}}</p></span>
                      <div *ngFor="let subsubitem of subitem.subItems">
                        <span><p>{{subsubitem.name}}</p></span>  
                      </div>  
                    </div>
                  </span>
                </div>
              </div>
              <div class="col-sm-6 col-xs-6">
                <div *ngFor="let item of subItems">
                  <span *ngIf="item.position%2 == 0">
                    <h4>{{item.name}}</h4>
                    <div *ngFor="let subitem of item.subItems">
                      <span><p>{{subitem.name}}</p></span> 
                      <div *ngFor="let subsubitem of subitem.subItems">
                        <span><p>{{subsubitem.name}}</p></span>  
                      </div> 
                    </div>
                  </span>  
                </div>
              </div>   -->
            </div>
          </div>
        </div>
      </div>
      <div #col8 style="padding: 0px;" class="col-md-8">
        <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>    
      </div>
    </div>
  </div>

</md-sidenav-container>
