/* You can add global styles to this file, and also import other style files */
div .mat-list-item-content{
    padding-left: 0;
    padding-right: 0;
}


md-nav-list a.sidenav-anchor.mat-list-item .mat-list-item-content{
    padding-left: 0;
    padding-right: 0;
}


@font-face {
  font-family: "Gotham";
  src: url("/assets/GothamBlack/Gotham-Black.otf");
}

body{
  font-family: "Gotham"
}