<div>
	<img class="img img-responsive" width="300px" style="margin:auto;" src="assets/img/rm/My-Beauty-logo.png" alt=""/>
	<form style="text-align: center;width: 300px;margin:auto; " action="#" method="get" accept-charset="utf-8">
		<label for="">username/email</label>
		<input type="email"/>

		<label>password</label>
		<input type="password"/>

		<label>remember me</label>
		<input type="checkbox"/>

		<input type="submit" value="Login" class="btn btn-danger"/>
	</form>

	<div style="text-align: center;">
		<a style="text-align: center;" href="">forgot login details</a>	
	</div>
		

	<img src="assets/img/rm/Retail_Master.png" class="img img-responsive" style="margin:auto;" alt=""/>
	<div style="text-align: center;">
		<span style="text-align: center;">Multi-channel retail management in a single place</span>	
	</div>
	
	<img class="img img-responsive" src="assets/img/rm/Home-Page-Bottom-Illustration.png" alt=""/>
</div>